{% extends 'matematicaapp/base.html' %} {% block content %}
<main role="main">
  <section class="titulo text-center">
    <div class="container">
      <h1>Escolha seu ano e comece a estudar, sem pagar nada</h1>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row">
        {% for chave, serie in series.items %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="5ano"
              src="../../../static/assets/{{serie.image}}"
              width="350px"
              height="180px"
            />
            <div
              class="card-body align-items-center d-flex justify-content-center"
            >
              <a
                class="btn btn-sg btn-primary"
                href="{% url 'atividades5ano' pk=1 id_resposta=1 %}"
                role="button"
                >{{serie.label}}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
