{% extends 'matematicaapp/base.html' %} {% block content %}
<main role="main">
  <div class="containera mt-sm-5 my-1">
    {{questao.pk}}
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <p>{{ questao.enunciado }}</p>
        <img src="../../../{{questao.figura}}" width="300px" height="150px" />
        <p>{{questao.fonte}}</p>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <form>
          {% for alternativa in alternativas %}
          <div class="form-check">
            <input
              class="form-check-input alternativas {% if questao.resposta == alternativa.pk %} corretaInput {% endif %}"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="{{alternativa.conteudo}}"
            />
            <label
              class="form-check-label {% if questao.resposta == alternativa.pk %} corretaLabel {% endif %}"
              for="exampleRadios2"
            >
              {{alternativa.conteudo}}
            </label>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between pt-3">
      <a
        href="{% url 'atividades5ano' pk=anterior_pk id_resposta=anterior_pk %}"
        class="btn btn-primary"
      >
        Voltar
      </a>
      <button onclick="marcaACerta()" class="btn btn-success">
        Verificar resposta
      </button>
      <a
        href="{% url 'atividades5ano' pk=proximo_pk id_resposta=proximo_pk %}"
        class="btn btn-primary"
      >
        Próxima atividade
      </a>
    </div>
  </div>
</main>
{% endblock %}
