{% load static %}
<html>
  <head>
    <title>GeniAulas: formando gênios</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrapcss/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/atividadesgratis.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/atividades5ano.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/questao_nova.css' %}" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <div id="container">
      <div id="header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/">GeniAulas</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/atividadesgratis">Atividades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'questao_nova' %}"
                  >Adicionar questão</a
                >
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <!-- <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            /> -->
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Login
              </button>
            </form>
          </div>
        </nav>
      </div>
      <div id="body">{% block content %} {% endblock %}</div>
      <div id="footer">
        <footer class="container">
          <p class="float-right"><a href="#">Voltar ao topo</a></p>
          <p>
            &copy; 2020 Armando Tramontano, William Lucas &middot; Todos os
            direitos reservados. &middot;
          </p>
        </footer>
      </div>
    </div>
  </body>

  <!-- <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'estudante_novo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
            <h1><a href="/">CArrosel</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                
                </div>
            </div>
        </div> -->

  <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'bootstrapjs/bootstrap.min.js' %}"></script>
  <script>
    function marcaACerta() {
      const alternativas = document.getElementsByClassName("alternativas");
      const resposta = document.getElementsByClassName("corretaInput")[0];
      for (let input of alternativas) {
        if (input.checked) {
          if (input.value != resposta.value) {
            input.nextElementSibling.style.backgroundColor = "red";
          }
        }
      }
      document.getElementsByClassName("corretaLabel")[0].style.backgroundColor =
        "green";
    }
  </script>
  <script>
    document.getElementById("howmany").onchange = function () {
      var howmany = document.getElementById("howmany").value;
      $(document).ready(function () {
        $.ajax({
          method: "POST",
          url: "",
          data: { howMany: howmany },
          success: function (data) {
            alert("FOI CARAJOOOOO");
          },
          error: function (data) {
            console.log(data);
            alert("NAO TA FUNCIONANDO MDS VC EH BURRO");
          },
        });
      });
    };
  </script>
</html>
