{% extends 'matematicaapp/base.html' %} {% block content %}
<main role="main">
  <div class="newquestion">
    <div>
      <h2>Nova questão</h2>
      <form method="POST" class="post-form">
        {% csrf_token %} {{ aform.as_p }}
        <div class="qtdalt">
          <label for="howmany">Quantidade de alternativas:</label>
          <input id="howmany" name="howmany" />
        </div>
        <div id="boxquantity"></div>
        <button type="submit" class="save btn btn-primary">Adicionar</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
