.newquestion {
  height: calc(100% - 110px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pseudocontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.qtdalt {
  display: flex;
  flex-direction: column;
}
